$svg-Daun = "https://lemoncakep.github.io/Svg/Daun.svg"

$color-custom-darkgreen = #203333
$color-custom-darkgreen-0 = #223333
$color-custom-liggtgreen = #00452a
$color-custom-darkblack = #222222
$color-cuscom-lightgray = #747474

html
	background-color: $color-custom-darkgreen-0
	padding: 5px

body
	background-color: $color-custon-lightgreen
	font-size: 14px
	padding: 5px

#navbar-top
	background-color: $color-custom-darkgreen
	height: 50px
	left: 0
	overflow: hidden
	position: fixed
	top: 0
	width: 100%

#navbar-bottom
	background-color: $color-custom-darkgreen
	bottom: 0
	height: 50px
	left: 0
	overflow: hidden
	position: fixed
	width: 100%

#footer
	background-color: $color-custom-darkgreen-0
	