html {
  background-color: #1c3030;
  padding: 5px;
}

body {
  background-color: #00452a;
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  color: #d4d4d4;
  font-family: Serif;
  font-size: 14px;
  padding: 5px;
  z-index: 0;
}
body a {
  color: darkgreen;
}
body a:hover {
  color: lightgreen;
}
body b {
  font-weight: 700;
}
body h1 {
  margin-left: 4px;
}
body h2 {
  margin-left: 4px;
}
body h3 {
  margin-left: 4px;
}
body h4 {
  margin-left: 4px;
}
body h5 {
  margin-left: 4px;
}
body h6 {
  margin-left: 4px;
}
body p {
  margin-left: 4px;
}

blockquote {
  background-color: #203333;
  border-left: 2px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  border-radius: 3px;
  color: #2ab86c;
  font-family: Arial;
  margin-left: 5px;
  overflow: scroll;
  padding: 4px;
  text-shadow: 2px 2px 10px black;
}
blockquote q {
  padding: 3px;
}

code {
  background-color: #00452a;
  border: 0.5px solid lightgray;
  border-radius: 1.5px;
  font-family: Courier New;
  margin-left: 3px;
  overflow: scroll;
  padding: 4px;
  text-shadow: 1px 1px 5px black;
}

#content-header {
  background-color: #00452a;
  color: white;
  margin-top: 60px;
  z-index: 1;
}
#content-header h1 {
  color: #2ab86c;
  font-family: Daun;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

#content {
  background-color: #00452a;
  color: #d4d4d4;
  font-size: 14px;
}

#navbar-top {
  background-color: #203333;
  box-shadow: 2px 2px 10px black;
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

#navbar-bottom {
  background-color: #203333;
  box-shadow: 2px 2px 10px black;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: centet;
  width: 100%;
}

#footer {
  background-color: #1c3030;
  font-size: 12px;
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.bg-aqua {
  background-color: aqua;
}

.fn-aqua {
  color: aqua;
}

.ln-aqua {
  border: 1px solid aqua;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-black {
  background-color: black;
}

.fn-black {
  color: black;
}

.ln-black {
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-blue {
  background-color: blue;
}

.fn-blue {
  color: blue;
}

.ln-blue {
  border: 1px solid blue;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-brown {
  background-color: brown;
}

.fn-brown {
  color: brown;
}

.ln-brown {
  border: 1px solid brown;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-darkblue {
  background-color: darkblue;
}

.fn-darkblue {
  color: darkblue;
}

.ln-darkblue {
  border: 1px solid darkblue;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-darkgray {
  background-color: darkgray;
}

.fn-darkgray {
  color: darkgray;
}

.ln-darkgray {
  border: 1px solid darkgray;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-darkgreen {
  background-color: darkgreen;
}

.fn-darkgreen {
  color: darkgreen;
}

.ln-darkgreen {
  border: 1px solid darkgreen;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-gray {
  background-color: gray;
}

.fn-gray {
  color: gray;
}

.ln-gray {
  border: 1px solid gray;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-green {
  background-color: green;
}

.fn-green {
  color: green;
}

.ln-green {
  border: 1px solid green;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-lime {
  background-color: lime;
}

.fn-lime {
  color: lime;
}

.ln-lime {
  border: 1px solid lime;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-lightblue {
  background-color: lightblue;
}

.fn-lightblue {
  color: lightblue;
}

.ln-lightblue {
  border: 1px solid lightblue;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-lightgray {
  background-color: lightgray;
}

.fn-lightgray {
  color: lightgray;
}

.ln-lightgray {
  border: 1px solid lightgray;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.fn-lightgreen {
  color: lightgreen;
}

.ln-lightgreen {
  border: 1px solid lightgreen;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-magenta {
  background-color: magenta;
}

.fn-magenta {
  color: magenta;
}

.ln-magenta {
  border: 1px solid magenta;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-pink {
  background-color: pink;
}

.fn-pink {
  color: pink;
}

.ln-pink {
  border: 1px solid pink;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-purple {
  background-color: purple;
}

.fn-purple {
  color: purple;
}

.ln-purple {
  border: 1px solid purple;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-violet {
  background-color: violet;
}

.fn-violet {
  color: violet;
}

.ln-violet {
  border: 1px solid violet;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-white {
  background-color: white;
}

.fn-white {
  color: white;
}

.ln-white {
  border: 1px solid white;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-yellow {
  background-color: yellow;
}

.fn-yellow {
  color: yellow;
}

.ln-yellow {
  border: 1px solid yellow;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-darkblack {
  background-color: #222222;
}

.fn-custom-darkblack {
  color: #222222;
}

.ln-custom-darkblack {
  border: 1px solid #222222;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-darkgreen {
  background-color: #203333;
}

.fn-custom-darkgreen {
  color: #203333;
}

.ln-custom-darkgreen {
  border: 1px solid #203333;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-darkgreen-0 {
  background-color: #1c3030;
}

.fn-custom-darkgreen-0 {
  color: #1c3030;
}

.ln-custom-darkgreen-0 {
  border: 1px solid #1c3030;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-lightblack {
  background-color: #747474;
}

.fn-custom-lightblack {
  color: #747474;
}

.ln-custom-lightblack {
  border: 1px solid #747474;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-lightgray {
  background-color: #d4d4d4;
}

.fn-custom-lightgray {
  color: #d4d4d4;
}

.ln-custom-lightgray {
  border: 1px solid #d4d4d4;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-lightgreen {
  background-color: #00452a;
}

.fn-custom-lightgreen {
  color: #00452a;
}

.ln-custom-lightgreen {
  border: 1px solid #00452a;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.bg-custom-lightgreen-0 {
  background-color: #2ab86c;
}

.fn-custom-lightgreen-0 {
  color: #2ab86c;
}

.ln-custom-lightgreen-0 {
  border: 1px solid #2ab86c;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

.svg-arrow-right:before {
  content: url("https://lemoncakep.github.io/Svg/arrow-right.svg");
}

.svg-bars:before {
  content: url("https://lemoncakep.github.io/Svg/bars.svg");
}

.svg-Daun:before {
  content: url("https://lemoncakep.github.io/Svg/Daun.svg");
}

.svg-lemon:before {
  content: url("https://lemoncakep.github.io/Svg/lemon.svg");
}

.svg-search:before {
  content: url("https://lemoncakep.github.io/Svg/search.svg");
}

.svg-times:before {
  content: url("https://lemoncakep.github.io/Svg/times.svg");
}

.fn-bold {
  font-style: bold;
}

.fn-italic {
  font-style: italic;
}

.fn-underline {
  font-style: underline;
}

@font-face {
  font-family: Daun;
  src: url("./font/en.ttf");
}

/*# sourceMappingURL=LemonTree.css.map */
