#navbar-icon-bars {
	filter: drop-shadow(2px 2px 2px black);
	float: left;
	height: 25px;
	margin-top: 20px;
	margin-left: 15px;
	width: 25px;
}
#navbar-icon-logo {
	filter: drop-shadow(2px 2px 2px black);
	float: none;
	height: 50px;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 50px;
}
#navbar-icon-search {
	filter: drop-shadow(2px 2px 2px black);
	float: right;
	height: 25px;
	margin-top: 20px;
	margin-right: 15px;
	width: 25px;
}
#test {
	font-style: oblique
}